html,
body {
  background-image: url("https://cdn.pixabay.com/photo/2014/10/15/15/13/library-489740_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
