html,
body {
  background-image: url("https://c0.wallpaperflare.com/preview/209/141/124/library-shelf-near-black-wooden-ladder.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
}
